#container{
  background: #fff;
  width: 600px;
  border-radius: 20px;
  margin: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 8px 10px rgb(0, 0, 0, 0.5);

}

#imagem{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

Button{
  border: none;
  width: 150px;
  border-radius: 15px;
  background:#8c30d223;
  box-shadow: 0px 8px 10px rgb(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
}

h2{
 font-size: 30px;
}